body {
    background: #e9ecef;
}
nav.navbar {
    background-color: #3490dc;
}
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.5rem;
    font-style: italic;
}
#menu_toggle {
    position: absolute;
    left: 150px;
    cursor: pointer;
    top: 1em;
}
#menu_toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0px;
    background: #000000;
}
#sidebar-wrapper {
    position: fixed;
    width: 17%;
    overflow-x: hidden;
    border-right: 1px #dddddd solid;
    transition: 0.5s;
    height: 100%;
    background: #6a6969;
}
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 0%;
}
#page-content-wrapper {
    // margin-top: .4rem;
    padding-top: .5rem;
    min-height: 100%;
    width: 83%;
    height: 92.5vh;
    margin-left: 17%;
    transition: 0.5s;
}
#wrapper.menuDisplayed #page-content-wrapper {
    transition: 0.5s;
    background: #fff;
    margin-left: 0%;
    width: 100%;
    z-index: auto;
}
/****** Sidebar Styles******/
.sidebar-nav {
    .list-group {
        border-radius: unset;
    }
    .list-group-item {
        background: transparent !important;
        border-top: none;
        border-bottom: 1px solid rgba(206, 206, 206, 0.502);
        color: #fff;
        font-size: 1rem;
        padding-left: 1rem;
        transition: 0.3s;
        font-weight: 500;
    }
    .list-group-item:hover {
        background-color: #3490dc !important;
        color: #fff;
        padding-left: 2rem;
    }
    .list-group-item:active {
        background-color: #3490dc;
    }
    a i {
        font-size: 1.3rem;
        // color: #3490dc;
    }
}
.dashboard a {
    color: #fff;
    font-size: 1.55rem;
    font-weight: bold;
    text-decoration: none;
    i {
        font-size: 1.75rem;
    }
}

/****** End Sidebar Styles******/

/****** Main Content Styles******/
.cont-title .input-group-text {
    background-color: #3490dc;
    border-color: #3490dc;
    color: #fff;
}
.cont-body {
    height: 39rem;
    padding: 1rem;
    padding-top: .5rem;
    .table-responsive {
        height: 35rem;
    }
    .cont-pagination {
        position: absolute;
        bottom: -.7rem;
    }
    .actions {
        min-width: 5rem;
    }
    .is-invalid ~ .invalid-feedback {
        font-size: 90%;
    }
}
.cont-show {
    th {
        width: 15rem;
    }
    img {
        width: 13rem;
        height: 170px;
    }
}
#page-content-wrapper .container-fluid {
    padding-right: 5px;
    padding-left: 10px;
}
/****** End Main Content Styles******/

/****** Dashboard Page Styles******/
.ad-dash {
    background-color: #fff;
    min-height: 42rem;
    margin-left: -.2rem;
    margin-right: .2rem;
    padding: 1rem;
    .cont-body {
        height: auto;
    }
    .col-sm-3 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .ad-summary {
        .col-sm-3 {
            max-width: 23%;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
        }
        .col-sm-3:nth-child(2) a {
            background: #bd366f !important;
        }
        .col-sm-3:nth-child(4) a {
            background: #e1a515 !important;
        }
        a {
            display: block;
            padding: 1.5rem 1rem;
            font-size: 1.3rem;
            text-decoration: none;
            width: 70%;
            float: left;
        }
        h2 {
            padding-top: 2rem;
            text-align: center;
        }
    }
}
/****** End Dashboard Page Styles******/




















// $primaryColor: #eeffcc;
// $firstValue: 62.5%;

// $firstValue: 24px !default;

// $buttonColor: #2ecc71;
// $buttonDark: darken($buttonColor, 10%);
// $buttonDarker: darken($buttonDark, 10%);

// button {
//   background: $buttonColor;
//   box-shadow: 0px 5px 0px $buttonDark;
//   &:hover {
//     background: $buttonDark;
//     box-shadow: 0px 5px 0px $buttonDarker;
//   }
//   &:active {
//     box-shadow: none;
//     margin-top: 5px;
//   }
// }

// body {
// 	background-color: $primaryColor;
// 	font-size: $firstValue;
// }
